## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [2]:
import pandas as pd
import numpy as np

In [15]:
data = {'國家':['台灣','日本','美國','中國','英國'],
        '人口':np.random.randint(1000000000,size=5) }
data = pd.DataFrame(data)

In [16]:
data

   國家         人口
0  台灣  136884171
1  日本  534024455
2  美國  818925299
3  中國  942091038
4  英國   35089263

In [23]:
data.iloc[data['人口'].idxmax()]   #idxmax() => 查找最大值的column，iloc=> 擷取該欄位 若要看烈則用 loc

國家           中國
人口    942091038
Name: 3, dtype: object